node_modules/
dist/*
bin/*
Dynalog-win32-*/*
installer/*
steps
uploads/*
past/*
out_csv/*
python_models/*
!uploads/model_images/null/*
!uploads/.nofiles
!uploads/temp/.nofiles
!uploads/converted/.nofiles
files/*
!files/.nofiles
public/
python_models/face_reco/v2/output/*
!python_models/face_reco/v2/output/.nofile
.sass-cache
*.log
test.js
package-lock.json