node_modules/
dist/*
uploads/*
past/*
out_csv/*
python_models/*
!uploads/model_images/null/*
!uploads/.nofiles
!uploads/temp/.nofiles
!uploads/converted/.nofiles
files/*
!files/.nofiles
public/components
public/img
python_models/face_reco/v2/output/*
!python_models/face_reco/v2/output/.nofile
.sass-cache
*.log
test.js
package-lock.json